#side-nav{
    background: dimgray;
    backdrop-filter : blur(15px);
    min-width: 200px;
    max-width: 200px; 
    backdrop-filter : blur(15px);
    height: 87vh;
    top: 0;
    left: -100%;
    overflow: auto;
} 
.content{
    min-height: 100vh;
    width: 100%;
}
.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{color:#000;}
.sidebar li a{
    color: #eee;
}
.side_bar{
    margin-top: 140px;
    background-color: dimgray;
    backdrop-filter : blur(15px);
    width: 270px;
    height: 87vh;
    position: absolute;
    top: 0;
    left: -100%;
    overflow: auto;
}