<div class="container-fluid g-0">
  <app-header></app-header>
  <div class="row">  
    <div class="col-lg-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">
      <main>
        <div class="toolbar">
            <div class="Add-employees">
              <button type="button" class="btn btn-success btn-lg"><i class="bi bi-plus-circle">Add Employee</i></button>
            </div>
            <div class="search-employees">
              <input type="search" class="form-control" placeholder="Search Employee">
            </div>
        </div>
        <div class="employees">

        </div>
      </main>
    </div>
  </div>
</div>
<app-footer></app-footer>