<div class="container-fluid g-0">
    <div id="hed"><app-header-emp></app-header-emp></div>
    <div class="row"> 
      <div class="col-lg-12">
        
        <main>
          
          <div class="employees">
            <div class="row mt-5">
                <form class="row g-3" (submit)="AddnewEmployee(addcompanyform)" #addcompanyform="ngForm">
                    <div class="col-md-6">
                      <label for="validationDefault01" class="form-label">First name</label>
                      <input type="text" class="form-control" id="validationDefault01" name="emp_fname" ngModel placeholder="Input First Name" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validationDefault02" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="validationDefault02" name="emp_lname" ngModel placeholder="Input Last Name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Gender</label>
                          <div class="form-check">
                            
                            <label class="radio-inline">
                              <input class="form-check-input" type="radio"  name="gender" ngModel  id="flexRadioDefault1" checked> Male
                            </label>
                          </div>
                          <div class="form-check">
                            
                            <label class="radio-inline" >
                              <input class="form-check-input" type="radio" name="gender" ngModel id="flexRadioDefault2"> Female
                            </label>
                          </div>
                    </div>
                    <div class="col-md-6">
                      <label for="validationDefault02" class="form-label">Email</label>
                      <input type="text" class="form-control" id="validationDefault02" name="email" ngModel placeholder="Input Last Name" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validationDefaultUsername" class="form-label">Username</label>
                      <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                        <input type="text" class="form-control" id="validationDefaultUsername" name="uname" ngModel placeholder="Input User Name"  aria-describedby="inputGroupPrepend2" required>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationDefault04" class="form-label">company</label>
                      <select class="form-select" name="cname" ngModel id="validationDefault04" required>
                        <option selected disabled value="">Choose company here</option>
                        <option value="1">XOKA</option>
                        <option value="2">CNET</option>
                        <option value="3">Ethsiwtch</option>
                        <option value="3">Redcloud</option>

                      </select>
                    </div>
                    <div class="col-md-3">
                      <label for="validationDefault04" class="form-label">Role</label>
                      <select class="form-select" name="role" ngModel id="validationDefault04" required>
                        <option selected disabled value="">Choose Role here</option>
                        <option value="1">admin</option>
                        <option value="2">employee</option>
                        <option value="3">manager</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                    </div>
                  </form>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>